<h1>Edit Task</h1>
<%= form_for(@task) do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %>

  <%= t.check_box :completed %>
  <%= t.label :completed %>

  <%= t.submit %>
<% end %>

<p><%= link_to "Back to list", tasks_path %></p>
